<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a New Company</title>
  </head>
  <body class='form_add_company'>
    <%= form_for @company do |form| %>

      <%= form.label :name %><br />
      <div class='field'>
        <%= form.text_field :name %><br />
      </div>

      <%= form.label :location %><br />
      <div class='field'>
        <%= form.text_field :location %><br />
      </div>

      <%= form.label :project %><br />
      <div class='field'>      
        <%= form.text_area :project %><br />
      </div>

      <%= form.label :interesting_thing %><br />
      <div class='field'>
        <%= form.text_area :interesting_thing %><br />
      </div>

      <%= form.label :person_working_there %><br />
      <div class='field'>    
        <%= form.text_field :person_working_there %><br />
      </div>

      <%= form.submit 'Add Company', class: 'button_add_company'%>
    <% end %>
  </body>
</html>
