<!DOCTYPE html>
<html>
  <head>
    <title>CompanyList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <nav class='nav_bar'>
        <ul class='nav_links'>
          <% if user_signed_in? %>
          <li>
            <%= link_to 'Add a new company', new_company_path, class: 'button' %>
          <li>
            <%= link_to 'Sign out', destroy_user_session_path, class: 'button', method: :delete %>
          </li>
          <% else %>
          <li>
            <%= link_to 'Sign in', new_user_session_path, class: 'button' %>
          </li>
          <li>
            <%= link_to 'Sign up', new_user_registration_path, class: 'button' %>
          </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
    <%= yield %>
  </body>
</html>
